@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Quicksand:wght@400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  overflow-x: hidden;
  background: rgba(0, 0, 0, 0.503);
  padding: 3vh 0;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
}

header .menu {
  width: 40%;
}

header .menu span {
  color: #fff;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 2em;
  text-decoration: underline;
  text-transform: uppercase;
  cursor: -webkit-grab;
  cursor: grab;
}

header .menu ul {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: none;
  list-style: none;
  background: #000000e9;
  top: 0;
  left: 0;
  right: 0;
  padding: 45vh 0 0 0;
  text-align: center;
}

header .menu ul li {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  z-index: 2;
  color: white;
  cursor: pointer;
}

header .menu .open-menu {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header .site-identity {
  width: 35%;
}

header .site-identity h2 {
  text-transform: uppercase;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 2em;
  padding-top: 2vh;
  color: #2CF8EB;
}

@media (max-width: 720px) {
  header {
    text-align: center;
  }
  header .menu .open-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 0;
  }
  header .site-identity {
    display: none;
  }
}

.content {
  padding: 7vh 12%;
}

footer {
  width: 100%;
  bottom: 0;
  text-align: center;
  background: #030303;
  padding: 5vh 0;
}

footer .icons {
  margin-bottom: 2vh;
}

footer .icons span {
  margin: 0 3%;
}

footer .icons span i {
  font-size: 12vh;
  color: #2CF8EB;
  cursor: -webkit-grab;
  cursor: grab;
}

footer .icons span i:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

footer .copyright {
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  text-transform: uppercase;
}

.hero {
  height: 100vh;
  background: url(../images/hero-section.svg);
  background-position: top;
  background-size: cover;
}

.hero .more-info {
  margin: 0 0 0 60%;
  right: 0;
}

.hero .more-info h6 {
  padding: 45vh 0 0 0;
  color: #ffffff;
  padding-right: 10%;
  font-family: "Quicksand", sans-serif;
  font-size: 1.3em;
}

.abt-us {
  margin-bottom: 5vh;
}

.abt-us h3 {
  color: #1A2EE4;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 1.4em;
  margin-bottom: 1vh;
}

.abt-us p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1em;
}

.mision {
  margin-bottom: 5vh;
}

.mision h3 {
  color: #1A2EE4;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 1.4em;
  margin-bottom: 1vh;
}

.mision p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1em;
}

.vision {
  margin-bottom: 5vh;
}

.vision h3 {
  color: #1A2EE4;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 1.4em;
  margin-bottom: 1vh;
}

.vision p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1em;
}

.strength h3 {
  color: #1A2EE4;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 1.4em;
  margin-bottom: 1vh;
}

.strength ul {
  padding-left: 2%;
}

.strength ul li {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1em;
}

@media (max-width: 600px) {
  .hero {
    height: 100vh;
    width: 100%;
    background: url(../images/mobile-hero.svg);
    background-position: top;
    background-repeat: no-repeat;
  }
}

.comp-accesories {
  margin-bottom: 3vh;
}

.comp-accesories h3 {
  font-family: "Quicksand", sans-serif;
  font-size: 1.4em;
  color: #1A2EE4;
  text-transform: uppercase;
  margin-bottom: 2vh;
}

.comp-accesories p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1em;
}

.printers {
  margin-bottom: 3vh;
}

.printers h3 {
  font-family: "Quicksand", sans-serif;
  font-size: 1.4em;
  color: #1A2EE4;
  text-transform: uppercase;
  margin-bottom: 2vh;
}

.printers p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1em;
}

.cctv {
  margin-bottom: 3vh;
}

.cctv h3 {
  font-family: "Quicksand", sans-serif;
  font-size: 1.4em;
  color: #1A2EE4;
  text-transform: uppercase;
  margin-bottom: 2vh;
}

.cctv p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1em;
}

.network-telephony {
  margin-bottom: 3vh;
}

.network-telephony h3 {
  font-family: "Quicksand", sans-serif;
  font-size: 1.4em;
  color: #1A2EE4;
  text-transform: uppercase;
  margin-bottom: 2vh;
}

.network-telephony p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1em;
}

.net-infastructure {
  margin-bottom: 3vh;
}

.net-infastructure h3 {
  font-family: "Quicksand", sans-serif;
  font-size: 1.4em;
  color: #1A2EE4;
  text-transform: uppercase;
  margin-bottom: 2vh;
}

.net-infastructure ul {
  margin-left: 2%;
}

.net-infastructure ul li {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1em;
}

.computer-solutions {
  margin-bottom: 3vh;
}

.computer-solutions h3 {
  font-family: "Quicksand", sans-serif;
  font-size: 1.4em;
  color: #1A2EE4;
  text-transform: uppercase;
  margin-bottom: 2vh;
}

.computer-solutions ul {
  margin-left: 2%;
}

.computer-solutions ul li {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1em;
}

.telecommunication {
  margin-bottom: 3vh;
}

.telecommunication h3 {
  font-family: "Quicksand", sans-serif;
  font-size: 1.4em;
  color: #1A2EE4;
  text-transform: uppercase;
  margin-bottom: 2vh;
}

.telecommunication ul {
  margin-left: 2%;
}

.telecommunication ul li {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1em;
}

.fiber-optic {
  margin-bottom: 3vh;
}

.fiber-optic h3 {
  font-family: "Quicksand", sans-serif;
  font-size: 1.4em;
  color: #1A2EE4;
  text-transform: uppercase;
  margin-bottom: 2vh;
}

.fiber-optic ul {
  margin-left: 2%;
}

.fiber-optic ul li {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1em;
}

.security {
  margin-bottom: 3vh;
}

.security h3 {
  font-family: "Quicksand", sans-serif;
  font-size: 1.4em;
  color: #1A2EE4;
  text-transform: uppercase;
  margin-bottom: 2vh;
}

.security ul {
  margin-left: 2%;
}

.security ul li {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1em;
}

.power-solutions h3 {
  font-family: "Quicksand", sans-serif;
  font-size: 1.4em;
  color: #1A2EE4;
  text-transform: uppercase;
  margin-bottom: 2vh;
}

.power-solutions ul {
  margin-left: 2%;
}

.power-solutions ul li {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1em;
}

.contact {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact .form {
  margin: 0 5% 5vh 0;
}

.contact .form input[type=text] {
  padding: 10px 20px;
  outline: none;
  border: solid;
  border-width: 1px;
  border-color: #000000;
  border-radius: 1em;
  margin: 0 0 2vh 0;
  font-family: "Open Sans", sans-serif;
  color: #000000;
}

.contact .form input[type=email] {
  padding: 10px 20px;
  outline: none;
  border: solid;
  border-width: 1px;
  border-color: #000000;
  border-radius: 1em;
  margin: 0 0 2vh 0;
  font-family: "Open Sans", sans-serif;
  color: #000000;
}

.contact .form input::-webkit-input-placeholder {
  color: #000000;
  font-family: "Open Sans", sans-serif;
}

.contact .form input:-ms-input-placeholder {
  color: #000000;
  font-family: "Open Sans", sans-serif;
}

.contact .form input::-ms-input-placeholder {
  color: #000000;
  font-family: "Open Sans", sans-serif;
}

.contact .form input::placeholder {
  color: #000000;
  font-family: "Open Sans", sans-serif;
}

.contact .form input:focus {
  background: #000000b7;
  border-color: #2CF8EB;
  color: #ffffffb9;
}

.contact .form textarea {
  padding: 5px 10px;
  border-radius: 1em;
  border: solid;
  border-width: 1px;
  border-color: #000000;
  margin: 0 0 2vh 0;
}

.contact .form textarea::-webkit-input-placeholder {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.contact .form textarea:-ms-input-placeholder {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.contact .form textarea::-ms-input-placeholder {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.contact .form textarea::placeholder {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.contact .form textarea:focus {
  background: #000000b7;
  border-color: #2CF8EB;
  border-width: 2px;
  color: #ffffffb9;
  outline: none;
}

.contact .form button {
  padding: 5px 10px;
  outline: none;
  border: solid;
  border-width: 1px;
  border-color: #000000;
  border-radius: .5em;
  background: #1A2EE4;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1em;
  text-transform: uppercase;
}

.contact .details {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1em;
  text-align: left;
}

.contact .details span {
  font-size: 1.2em;
  font-weight: 600;
}

.contact .details span i {
  color: #1A2EE4;
  font-size: 2em;
  position: absolute;
}

.contact .details ul {
  margin-left: 20%;
  list-style: square;
}

.contact .details .email {
  margin: 2vh 0;
}

.map {
  text-align: center;
}

@media (max-width: 1024px) {
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .details span i {
    position: relative;
    text-align: center;
  }
  .contact .details ul {
    margin-left: 0;
  }
}
/*# sourceMappingURL=style.css.map */